/***file: base.css ***/

/*Base values for html tags*/
/* keep this file really skinny - remove when overrides are detected*/

@media all {
.page-break { display: none; }
}

@media print {
.page-break { display: block; page-break-before: always; }
}

html {
    font-size: calc(0.875rem + ((1vh - 4.8px) * 1.25) );
    line-height: 1.15;
    }

/* put in a transition file */
html {
      overflow-y: scroll;
      scroll-behavior: smooth;
     }


body {
    margin: 0;
    background-color: <?= $background ?>;
    font-family: <?= $font_family ?>;
    color: <?= $on_surface ?>;
    }




/*** state_css ***/
.is-hidden {
  visibility: hidden; opacity: 0;
  }


/*** typography ***/
h1 {
      font-weight: lighter;
      font-stretch: condensed;
      letter-spacing: -.05rem;
    }

h5 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h6 {
    font-size: 1.25rem;
    font-weight: normal;
    margin-block-start: 0px;
    margin-block-end: 0px;
    letter-spacing: -.016rem;
    padding-top: 0.75rem;
}

.subtitle2 {
  font-size: .875rem;
  font-weight: bolder;
  margin-block-start: 0px;
  margin-block-end: 0px;
  letter-spacing: -.006rem;
  padding-top: 0.625rem;
}



.caption {
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
}

.overline {
  font-size: 0.625rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  line-height: 0.625rem;
  padding-top: 1.125rem;
  margin: 0;
}
