/*** file: card.css ***/
.card {
  box-sizing: border-box;
  z-index: 1;
  width: 344px;
  min-height: 500px;
  <?= $z[1] ?>;
  border-radius: <?= $small_radius ?>;
  background-color: <?= $surface ?> ;
  /* position: absolute; */





  /* padding: 0.25rem 1rem 0.25rem 1rem; */


/*
  position: absolute;
  top: 88px;
  left: 50%;
  transform: translate(-50%, -50%);
*/
   position: relative;
  margin: 16px auto ;
  }
