/*** layout.css ***/

[class*="l-"] {
    position: absolute;
    }

.l-tr-4{
    top: 4px;
    right: 4px;
    }

.l-tl-4{
    top: 4px;
    left: 4px;
    }

.l-br {
        bottom: 0.6rem;
        right: 0.6rem;
        }

.l-br-float
{
  bottom: -0.5rem;
  right:  -0.5rem;
}
